@page "/"
@inject NavigationManager Navigation

<h1 class="display-1 text-center">HR #</h1>

<AuthorizeView>
    <NotAuthorized>
        <button class="btn btn-primary" @onclick="@(() => Navigation.NavigateTo(@"authentication/register"))">Register</button>
        <button class="btn btn-primary" @onclick="@(() => Navigation.NavigateTo(@"authentication/login"))">Log in</button>
    </NotAuthorized>
</AuthorizeView>
